# Python
__pycache__/
*.pyc

# Node / React
interface/node_modules/
interface/build/
interface/.cache/
interface/.parcel-cache/
interface/dist/
interface/.vite/
interface.zip

# Logs
logs/
*.log

# Airflow / Dags cache
dags/__pycache__/
.dvc/
.cache/
